$sub-content: 832px;
$minorContent: 1000px;
$max-content: 1232px;
$side-padding: 1em;
$space-between: 1.5em;

$duo-width: calc((100% - 1.5em) / 2);
$duo-width-extra: calc((100% - 5em) / 2);
$tri-width: calc((100% - 3em) / 3);
$quad-width: calc((100% - 4.5em) / 4);
